/* Code blocks */
.reveal pre {
    font-size: 0.8em;
    font-family: "Fira Code";
    background:#2a2727;
    width: 99%;
    display: block; 
    padding: 1em;
    overflow: auto;
    word-wrap: normal;
    color:white;
    block-size: 120%;
    border-radius: 25px;
}

/* Org highlights */
.reveal code{
    color: #e7ad52;
    font-family: var(--r-main-font);
    text-transform: none;
}

/* Code blocks */
.reveal pre code{
    color:white;
}
